@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    --font-size: 1.2rem;
    --font-size-bigger: 2.1rem;
    --font-size-h1: 4.6rem;
    --bgcolor: #00030e;
    --color-blue: #33bbcf;
    --color-white: #fff;
    --color-lighter-blue: #03ffdc;
    --gradient-text: radial-gradient(
        64.18% 64.18% at 71.16% 35.69%,
        #def9fa 0.89%,
        #bef3f5 17.23%,
        #9dedf0 42.04%,
        #7de7eb 55.12%,
        #5ce1e6 71.54%,
        #33bbcf 100%
    );
    --color-paragraph: rgba(255, 255, 255, 0.7);
    --color-light-gray: rgba(170, 170, 170, 0.4);
}
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Montserrat;
    color: var(--color-white);
    background-color: rgba(0, 3, 14, 0.8);
    line-height: 40px;
}
a {
    color: var(--color-white);
    text-emphasis: none;
    text-decoration: none;
    transition: all 0.5s;
}
a:hover {
    color: var(--color-lighter-blue);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.container {
    margin-top: 50px;
}

.typewriter {
    padding: 0 0 0 70px;
    flex-grow: 1;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.typewriter h1 {
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bgcolor);
    z-index: -1;
    opacity: 0.98;
}

.navigation {
    height: 100px;
    margin: 0;
}

.navigation__item-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.navigation__item {
    margin-right: 20px;
}

.main {
    flex-basis: 100%;
}

.main__div-math-bg {
    background: url(../IMG/matma.jpg);
    background-size: cover;
    width: 70%;
    height: 120px;
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    opacity: 0.2;
}

.main__math-bg-heading {
    text-align: center;
    position: relative;
    bottom: 100px;
    font-size: 2rem;
}

.about-author {
    width: 65%;
    margin: 50px auto;
    font-size: 110%;
    background: rgba(0, 3, 14, 0.8);
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
}

.about-author::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: radial-gradient(ellipse at center, #ffffff 0%, #00030e 100%);
    opacity: 0.5;
    z-index: -1;
    border-radius: 10px;
}

.about-author::after {
    content: "Ø";
    font-family: Montserrat;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    color: #2b2b2b;
    background: var(--gradient-text);
    background-position: 349570px;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.about-author h1 {
    text-align: center;
    font-size: 400%;
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 10px;
    flex-basis: 100%;
}

.about-author__informations {
    flex-basis: 50%;
}

.about-author__informations p {
    margin-bottom: 15px;
}

.about-author__photo {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-author img {
    border-radius: 50%;
    height: auto; 
    height: 400px;
}

.container {
    margin-top: 50px;
}

.footer {
    flex-basis: 100%;
}
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
    top: 14vh;
}
canvas {
    z-index: -1;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}
