:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: white;
    --background: rgba(0, 3, 14, 0.8);
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

@media screen and (max-width: 788px) {
    .main__h1-problem {
        font-size: 250%;
        line-height: 70px;
    }
}

@media screen and (max-width: 1124px) {
    .nav-left {
        justify-content: center;
        padding: 0;
    }
    .main__math-bg-heading {
        font-size: 1.6rem;
        max-width: 400px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1054px) {
    .navigation {
        width: 100%;
    }
}

@media screen and (max-width: 566px) {
    .main__div-math-bg {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .main__math-bg-heading {
        font-size: 1.2rem;
    }
    .contents h1 {
        font-size: 300%;
    }
}

.hamburger-menu {
    display: none;
}

.navigation__item-list-hamburger {
    display: none;
}

@media screen and (max-width: 698px) {
    .main__math-bg-heading {
        font-size: 1.2rem;
    }

    .navigation {
        margin: 0 auto;
    }

    .navigation__item-list {
        display: none;
    }

    .divPattern {
        width: 100%;
        font-size: 90%;
        padding: 0;
    }

    .navigation__item-hamburger {
        margin-top: 20px;
        padding: 20px 20px;
        transition: all 0.5s ease-in-out;
        border-bottom: 1px solid var(--color-light-gray);
        font-weight: normal;
        font-size: 80%;
        width: 50%;
    }

    .navigation__item-hamburger:hover {
        background-color: var(--color-light-gray);
        transform: translateY(-10px);
        cursor: pointer;
    }

    .navigation__item-hamburger li {
        list-style-type: none;
    }

    .navigation__item-list-hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--hamburger-gap);
        width: 100%;
        z-index: 2;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
            rotate var(--animation-timing), translate var(--animation-timing),
            background-color var(--animation-timing);
    }
    
    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }
    
    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }
    
    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }
    
    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }
    
    .sidebar {
        transition: translate var(--animation-timing);
        translate: -100%;
        padding: 0.5rem 1rem;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
        background-color: rgba(0, 3, 14, 1);
        color: var(--background);
        max-width: 100%;
        min-height: 70vh;
        z-index: 10;
        border-bottom: 1px solid var(--color-light-gray);
        border-top: 1px solid var(--color-light-gray);
    }
    
    .hamburger-menu:has(input:checked) + .sidebar {
        translate: 0;
    }
}

@media screen and (max-width: 1040px) {
    .contents__item-list {
        width: 80%;
        padding: 10px 10px;
    }
    .contents__item-list h2 {
        text-align: center;
    }
    .contents__list-item {
        font-size: 90% !important;
    }
}

@media screen and (max-width: 356px) {
    .nav-left h1 {
        font-size: 160%;
    }
}

@media screen and (max-width: 834px) {
    .main__p {
        text-align: center;
    }
    .main__left-column h1 {
        text-align: center;
    }
}

.footer {
    flex-basis: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bgcolor);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}